* {
  margin: 0;
  padding: 0;
}

/* Nav */
.navbar {
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  position: relative;
}

.navbar::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: -1;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  font-size: 1.4rem;
}

.navbar ul li a {
  padding: 5px 20px;
  text-decoration: none;
  color: white;
}

.navbar ul li a:hover {
  border-bottom: 2px solid red;
}

body{
  background: linear-gradient(to left, #7d96aa, #cfd9db);
}


/* Home */
#home{
  display: flex;
  flex-direction: column;
  height: 650px;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  color: white;
}

.heading{
  color: white;
  font-size: 3rm;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  transform: scale(1,1.3);
  margin-bottom: 10px;
}

/* Education */
#education{
  display: flex;
  flex-direction: column;
  background-color: black;
}

#education h1{
  margin: 5%;
}

.columns{
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 50px;
}

.box{
  height: 200px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
}

.box h2{
  color: white;
  font-size: 2rem;
  margin-bottom: 40px;
}

.box p {
  color: white;
  font-size: 1.1rem;
}
