/* Nav */
.navbar {
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  position: fixed;
  width: 100%; /* Full width */
  z-index: 1;
  background-color: rgba(27, 27, 27, 0.63);
  overflow: hidden;
  top: 0;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  font-size: 1.4rem;
}

.navbar ul li a {
  padding: 5px 20px;
  text-decoration: none;
  color: white;
}

.navbar ul li a:hover {
  border-bottom: 2px solid #02365c;
}

body {
  background-color: white;
  background-image: linear-gradient(147deg, #000000 0%, #02365c 74%);
}

/* Home */
.home_container {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 5em auto;
  height: 500px;
  width: 700px;
}
img {
  max-width: 100%;
}
.home_details {
  float: right;
  color: white;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.home_img {
  float: left;
  height: 100%;
  width: 45%;
}

/* Projects */
.projects {
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
  color: white;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-container {
  text-align: center;
  width: 30rem;
  padding: 1rem;
  box-shadow: 0 15px 30px 1px grey;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: 5px;
}

.project-details {
  margin-bottom: 5px;
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  padding: 20px;
  margin: 10px;
}
